*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* icons */
button.btn--ic {
  position: relative;
  background-color: #FAF8F7;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-left: 20px;
}

/*buttons */
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

button.btn--call {
  width: 183px;
  height: 40px;
  background: #FAF8F7;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  border-radius: 39px;
  border: none;
  outline: none;
}

.main {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.icons-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 42px;
  right: 76px;
  z-index: 9;
}

.btn--ic {
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
}

button.btn--ic span {
  position: absolute;
  border-radius: 50%;
  background-color: #faf8f7;
  height: 21px;
  width: 21px;
  border: 1px solid #1d1700;
  top: -10px;
  left: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

/* first slider */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child), .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 30px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  width: 95%;
  background-color: #E3E4E5;
  opacity: 1;
}

.swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 94%;
  margin: 0 auto;
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background: #E3E4E5;
  opacity: 1;
}

.swiper-pagination-bullet-active::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #1D1700;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1D1700;
  -webkit-animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
          animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
  opacity: 1;
}

.swiper-paused .swiper-pagination-bullet-active::before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes slide-progress {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-progress {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.swiper__wrapper {
  max-width: 1344px;
  width: 100%;
}

.swiper {
  width: 100%;
}

.swiper__navigation {
  margin-top: 50px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .swiper__navigation {
    margin-top: 30px;
  }
}

.swiper-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.swiper-scrollbar {
  height: 1px !important;
  background: #e3e4e6;
  margin-bottom: 50px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev {
  background-image: url(../img/arr-left.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 15px;
  pointer-events: all;
}

@media only screen and (max-width: 992px) {
  .swiper-button-prev {
    left: 30px;
  }
}

.swiper-button-next {
  background-image: url(../img/arr-right.svg);
  background-repeat: no-repeat;
  right: 0;
  pointer-events: all;
  top: 15px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .swiper__navigation {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

/*************** product types ***************/
.product-types {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.product-type {
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 212px;
  background: #faf8f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.product-type h3 {
  text-transform: uppercase;
}

.product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product__card {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: auto;
  background: #faf8f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px;
  margin-bottom: 35px;
}

.product__card h4 {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  line-height: 22px;
  color: #0278E5;
  text-align: center;
  font-family: 'Stem Medium';
  height: 70px;
  padding-bottom: 10px;
}

.product__img {
  padding-bottom: 20px;
}

.feature {
  width: 100%;
  height: 23px;
}

.prices {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p.price__current {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 22px;
  line-height: 22px;
  color: #0278E5;
  text-align: center;
  font-family: 'Stem Medium';
  padding-bottom: 10px;
}

p.discount {
  text-decoration: line-through;
  font-family: 'Stem Light';
  font-weight: 700;
}

p.status {
  position: relative;
  font-family: 'Stem Light';
  font-weight: 700;
}

p.available::before {
  position: absolute;
  content: url(../img/checkmark.svg);
  display: block;
  left: -27px;
}

.product__cart {
  font-family: 'Stem Light';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 29px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 100;
  border: none;
  font-size: 18px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product__cart img {
  padding-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .product__cart {
    width: 100%;
    margin-bottom: 10px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  line-height: 1.6;
  width: 100%;
  font-family: "Stem Bold";
  font-size: 16px;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  font-weight: bold;
  font-family: "Stem Bold";
}

h2 {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Stem Medium";
}

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 20px;
  }
}

h2.main {
  color: #1d1700;
  position: relative;
  padding-bottom: 40px;
}

h2.main::before {
  content: "";
  display: inline-block;
  background: #0278e5;
  height: 1px;
  width: 40px;
  margin-right: 20px;
  margin-top: 15px;
}

@media only screen and (max-width: 992px) {
  h2.main {
    margin-left: 30px;
    width: 50%;
  }
}

h3 {
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a.btn--main {
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f42c2b), to(rgba(0, 0, 0, 0))), #460d09;
  background: linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%), #460d09;
  border-radius: 0.625em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
}

@media only screen and (max-width: 28.125em) {
  a.btn--main {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1500px) {
  .main {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1600px) {
  .sidebar {
    padding-left: 30px;
  }
  .tags,
  .sort-by,
  .product__cards,
  .info,
  .steps,
  .news {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .tags,
  .sort-by,
  .product__cards,
  .info,
  .steps,
  .news,
  .product-types {
    padding-left: 30px;
  }
  .product-types {
    padding-right: 30px;
  }
}

button {
  cursor: pointer;
}

span {
  font-family: "Stem Light";
  font-weight: 900;
}

input {
  font-family: inherit;
}

p.bold {
  font-family: "Stem Bold";
}

.range-slider-input--2,
.range-slider-input--1 {
  position: relative;
}

.range-slider-input--2 i,
.range-slider-input--1 i {
  position: absolute;
  top: 9px;
  right: 17px;
  font-size: 14px;
  font-weight: 100;
}

@font-face {
  font-family: "Stem Bold";
  src: url("../font/Stem-Bold.eot") format("eot"), url("../font/Stem-Bold.ttf") format("ttf"), url("../font/Stem-Bold.woff") format("woff"), url("../font/Stem-Bold.woff2") format("woff2"), url("../font/Stem-Medium.eot") format("eot"), url("../font/Stem-Medium.ttf") format("ttf"), url("../font/Stem-Medium.woff") format("woff"), url("../font/Stem-Medium.woff2") format("woff2"), url("../font/Stem-Light.eot") format("eot"), url("../font/Stem-Light.ttf") format("ttf"), url("../font/Stem-Light.woff") format("woff"), url("../font/Stem-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Stem Medium";
  src: url("../font/Stem-Medium.eot") format("eot"), url("../font/Stem-Medium.ttf") format("ttf"), url("../font/Stem-Medium.woff") format("woff"), url("../font/Stem-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Stem Light";
  src: url("../font/Stem-Light.eot") format("eot"), url("../font/Stem-Light.ttf") format("ttf"), url("../font/Stem-Light.woff") format("woff"), url("../font/Stem-Light.woff2") format("woff2");
}

/* sidebar */
.filter {
  display: none;
}

.filter img {
  height: 20px;
  width: auto;
}

@media only screen and (max-width: 992px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

p.bold {
  font-weight: 900;
}

.sidebar {
  width: 300px;
  margin-right: 100px;
  background: #fff;
}

@media only screen and (min-width: 1500px) {
  .sidebar {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    width: 85%;
    position: fixed;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    padding: 50px;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    z-index: 300;
  }
}

.overlay {
  display: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.overlay-visible {
  display: block;
  background: #0000008c;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 200;
}

.btn--hide-filter {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: #fff;
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 992px) {
  .btn--hide-filter {
    display: none;
  }
}

.sidebar-visible {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.hr-line {
  margin: 30px 0;
  width: 100%;
  height: 2px;
  background: #faf8f7;
  border-radius: 2px;
  display: block;
}

.container {
  position: relative;
  width: 100%;
  height: 100px;
}

.slider-track {
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: #0278e5;
}

.range-slider-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .range-slider-inputs {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

@media only screen and (max-width: 992px) {
  .range-slider-inputs span {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.range-slider-input {
  width: 124px;
  height: 35px;
  border: 1px solid #1d1700;
  border-radius: 4px;
  text-align: center;
  padding-top: 4px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .range-slider-input {
    width: 100px;
  }
}

.irs--round .irs-line {
  height: 2px;
  background-color: #faf8f7;
  border-radius: 4px;
}

span.rub {
  position: absolute;
}

.irs--round {
  width: 100%;
  margin-bottom: 30px;
}

.irs--round .irs-handle {
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 26px;
  height: 18px;
  width: 18px;
  background: #0278e5;
  cursor: pointer;
}

.irs--round .irs-bar {
  height: 2px !important;
}

/* search */
.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 35px;
  padding-left: 12px;
  border: 1px solid #1d1700;
  outline: none;
  border-radius: 4px;
  margin-top: 15px;
}

input#search-bar:focus {
  border: 1px solid #008abf;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #008abf;
}

input#search-bar:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.radio__search {
  position: relative;
}

.radio__search a img {
  position: absolute;
  right: 12px;
  top: 24px;
}

.radio__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 250px;
  overflow-y: scroll;
  width: 100%;
  margin-top: 15px;
}

.radio__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #1d1700;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio__container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio__container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #1d1700;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio__options--no-scroll {
  height: auto;
  overflow: auto;
}

.content {
  width: 70%;
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
}

a.product-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  height: 212px;
  background: #faf8f7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 1500px) {
  a.product-type {
    padding: 20px;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  a.product-type {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
}

a.product-type img {
  padding-right: 70px;
}

@media only screen and (max-width: 1600px) {
  a.product-type img {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  a.product-type img {
    height: 50px;
  }
}

/* tags */
.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .tags {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .tags {
    margin-bottom: 10px;
  }
}

button.tag {
  border-radius: 37px;
  padding: 10px 16px;
  border: 1px solid #0278e5;
  color: #0278e5;
  background: #fff;
  margin-bottom: 13px;
  margin-right: 13px;
}

button.tag:hover {
  color: #fff;
  background: #0278e5;
}

@media only screen and (max-width: 992px) {
  button.tag {
    padding: 3px 10px;
    margin-bottom: 7px;
  }
}

/* sort by */
.sort-by {
  margin-bottom: 35px;
  float: right;
}

@media only screen and (max-width: 992px) {
  .sort-by {
    display: block;
    width: 100%;
  }
}

.sort-by label {
  padding-right: 10px;
}

#sort-by {
  width: 191px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #1d1700;
  font-family: inherit;
  padding-left: 12px;
  font-size: 12px;
}

@media only screen and (max-width: 992px) {
  #sort-by {
    width: 100%;
  }
}

/* products */
/*product card*/
.features {
  padding-bottom: 20px;
}

.features span {
  font-size: 14px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h4.price-current {
  color: #0278e5;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.product__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .product__btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.product__stats,
.product__favorite {
  position: relative;
  position: relative;
  background-color: #fff;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  margin-left: 20px;
}

/* search */
.search {
  margin-top: 50px;
  width: 100%;
  background-color: #faf8f7;
  padding: 34px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
  .search {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

input.input--search {
  outline: none;
  background-color: #fff;
  border: none;
  display: inline;
  height: 54px;
  width: 100%;
  margin-right: 60px;
}

button.btn--search {
  width: 179px;
  height: 54px;
  background: #0278e6;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  border: none;
}

/* advantages */
.advantages {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
  .advantages {
    margin-bottom: 50px;
  }
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 387px;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .advantages__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .advantages__inner {
    max-height: 100%;
  }
}

.advantages__list {
  margin-right: 42px;
}

@media only screen and (max-width: 1500px) {
  .advantages__list {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.advantage {
  height: 100px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #faf8f7;
}

@media only screen and (max-width: 1500px) {
  .advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 150px;
    text-align: center;
  }
}

.advantage img {
  padding-right: 30px;
}

@media only screen and (max-width: 1500px) {
  .advantage img {
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.advantage:not(:last-of-type) {
  margin-bottom: 42px;
}

@media only screen and (max-width: 1500px) {
  .advantage:not(:last-of-type) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .advantage:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .advantage {
    width: 100%;
  }
}

.advantages__promo {
  position: relative;
  background-image: url(../img/slider_main5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .advantages__promo {
    height: 350px;
  }
}

.advantages__promo h4 {
  color: #0278e5;
  font-size: 36px;
  min-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  padding-right: 20px;
}

@media only screen and (max-width: 992px) {
  .advantages__promo h4 {
    font-size: 20px;
  }
}

.advantages__promo img {
  height: 100%;
}

/* works slider */
.swiper {
  height: 100%;
}

.swiper__navigation {
  margin-top: 50px;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .swiper__navigation {
    margin-top: 30px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.swiper-scrollbar {
  height: 1px !important;
  background: #e3e4e6;
  margin-bottom: 50px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
  .swiper-scrollbar {
    width: 70%;
  }
}

.swiper-scrollbar-drag {
  background: #1d1700;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev {
  background-image: url(../img/arr-left.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 15px;
  pointer-events: all;
}

@media only screen and (max-width: 992px) {
  .swiper-button-prev {
    left: 30px;
  }
}

.swiper-button-next {
  background-image: url(../img/arr-right.svg);
  background-repeat: no-repeat;
  right: 0;
  pointer-events: all;
  top: 15px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .swiper__navigation {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

/* reviews */
/* sertificates */
/* steps */
.steps {
  width: 100%;
  margin-bottom: 100px;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.steps-list::before {
  content: url(../img/wave-line.svg);
  display: block;
  position: absolute;
  max-width: 976px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 37%;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .steps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.step {
  width: 208px;
  height: 208px;
  background: #faf8f7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  .step {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (max-width: 700px) {
  .step {
    margin-bottom: 20px;
  }
}

.step p {
  width: 67%;
}

.step strong {
  font-weight: 900;
}

.step:nth-child(even) {
  margin-top: 208px;
}

@media only screen and (max-width: 1600px) {
  .step:nth-child(even) {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 700px) {
  .step:nth-child(even) {
    margin-top: 0;
  }
}

/* news */
.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .news__cards {
    margin-bottom: 30px;
  }
}

.news__card {
  height: 100%;
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
  margin-bottom: 60px;
}

.news__card:not(:last-of-type) {
  margin-right: 40px;
}

@media only screen and (max-width: 1800px) {
  .news__card:not(:last-of-type) {
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .news__card:not(:last-of-type) {
    margin-right: 0;
  }
}

.news__card img {
  padding-bottom: 20px;
  max-width: 420px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .news__card img {
    max-width: 100%;
  }
}

.news__card p {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .news__card {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .news__card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.news__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  padding-bottom: 16px;
}

a.btn--news {
  position: absolute;
  width: 217px;
  height: 39px;
  background: #faf8f7;
  border-radius: 20px;
  color: #1d1700;
}

/* contacts */
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px;
  margin-bottom: 140px;
}

.contacts__info img.map {
  max-width: 718px;
  width: 100%;
}

@media only screen and (max-width: 1700px) {
  .contacts__info img.map {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .contacts__info img.map {
    width: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  .contacts__info {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .contacts__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px;
    padding-right: 0;
  }
}

.contacts__details {
  padding-left: 85px;
}

.contacts__details p {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1500px) {
  .contacts__details p {
    padding-bottom: 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .contacts__details p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .contacts__details p {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 1500px) {
  .contacts__details {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .contacts__details {
    margin-top: 20px;
  }
}

button.contact-us {
  max-width: 279px;
  width: 100%;
  height: 54px;
  background: #0278e5;
  border-radius: 27px;
  border: none;
  color: #fff;
  font-family: inherit;
}

.contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1500px) {
  .contacts__icons {
    margin-bottom: 20px;
  }
}

a.soc__icon {
  position: relative;
  position: relative;
  background-color: #0278e5;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  margin-right: 15px;
}

/* footer */
.footer {
  width: 70%;
  margin-left: auto;
  background: #faf8f7;
  height: 144px;
}

.footer__wrapper {
  padding-left: 30px;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .footer {
    width: 100%;
    margin-left: 0;
  }
}

p.copyright {
  padding-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  p.copyright {
    font-size: 13px;
  }
}

.footer__nav a {
  padding-right: 50px;
  text-decoration: underline;
  color: #0278e5;
}

/* header */
.header {
  height: 129px;
}

@media only screen and (max-width: 1850px) {
  .header {
    height: 180px;
    margin-bottom: 30px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.header__wrapper .logo {
  width: 224px;
}

@media only screen and (max-width: 1900px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1850px) {
  .header__wrapper {
    margin: 0 auto;
    width: 100%;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1500px) {
  .header__wrapper {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

.btn--header {
  width: 183px;
  height: 40px;
  border: none;
  background: #faf8f7;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  border-radius: 39px;
  cursor: pointer;
}

.header__wrapper .nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__wrapper .nav ul li {
  padding-left: 60px;
}

@media only screen and (max-width: 1500px) {
  .header__wrapper .nav ul li {
    padding-left: 25px;
  }
}

.header__wrapper .nav ul li a {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1d1700;
}

@media only screen and (max-width: 1500px) {
  .header__wrapper .nav ul li a {
    font-size: 16px;
  }
}

.header__wrapper .nav ul li a:hover {
  color: #0278e5;
}

.header__wrapper .nav ul li a::before {
  content: url(../img/line.svg);
  display: inline;
  position: absolute;
  left: -20px;
}

.header__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__icons a {
  position: relative;
  position: relative;
  background-color: #faf8f7;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  margin-left: 20px;
}

.header__icons a span {
  position: absolute;
  border-radius: 50%;
  background-color: #faf8f7;
  height: 21px;
  width: 21px;
  border: 1px solid #1d1700;
  top: -10px;
  left: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

/* mobile */
.header__wrapper .nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__wrapper .nav__icon,
.header__wrapper .nav__icon span {
  display: none;
}

.header__wrapper .nav__icon {
  width: 18px;
  height: 15px;
  position: relative;
  cursor: pointer;
}

.header__wrapper .nav__icon span {
  background: #333;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  width: 18px;
}

.header__ .nav__icon span:nth-of-type(1) {
  top: 0;
}

.header__wrapper .nav__icon span:nth-of-type(2) {
  top: 7px;
}

.header__wrapper .nav__icon span:nth-of-type(3) {
  bottom: 0;
}

.header__wrapper .nav__icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(2px) rotate(-45deg);
  transform: translateY(2px) rotate(-45deg);
}

.header__wrapper .nav__icon.active span:nth-of-type(2) {
  display: none;
}

.header__wrapper .nav__icon.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

.nav-up {
  top: -40px;
}

@media only screen and (max-width: 992px) {
  .header {
    height: 120px;
    margin-bottom: 70px;
  }
  .nav__icon {
    position: absolute;
  }
  .btn--header {
    display: none;
  }
  a.header__phone {
    font-size: 16px;
  }
  .nav-up {
    top: 0;
  }
  .header__icons {
    width: 100%;
    padding-left: 30px;
  }
  .header__wrapper {
    position: relative;
    z-index: 99;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .header__wrapper .nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: absolute;
    top: 30px;
    width: 100%;
  }
  .header__wrapper .nav ul li a {
    padding-left: 10px;
  }
  .header__wrapper h1.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 0;
    padding-left: 30px;
  }
  .header__wrapper ul {
    display: -webkit-flex;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    background: #fff;
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100%;
    z-index: 980;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: none;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  }
  .header__wrapper ul li a {
    display: block;
    background: transparent;
    margin: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .header__wrapper ul li a:hover {
    color: #000;
    background: #fff;
  }
  .header__wrapper .nav__icon,
  .header__wrapper .nav__icon span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    right: 32px;
  }
}

font-face {
  font-family: 'Stem';
  src: url("Stem-Light.eot");
  src: local("Stem Light"), local("Stem-Light"), url("/font/Stem-Light.eot") format("embedded-opentype"), url("/font/Stem-Light.woff2") format("woff2"), url("/font/Stem-Light.woff") format("woff"), url("/font/Stem-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Medium';
  src: url("Stem-Medium.eot");
  src: local("Stem Medium"), local("Stem-Medium"), url("/font/Stem-Medium.eot") format("embedded-opentype"), url("/font/Stem-Medium.woff2") format("woff2"), url("/font/Stem-Medium.woff") format("woff"), url("/font/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Bold';
  src: url("Stem-Bold.eot");
  src: local("Stem Bold"), local("Stem-Bold"), url("/font/Stem-Bold.eot") format("embedded-opentype"), url("/font/Stem-Bold.woff2") format("woff2"), url("/font/Stem-Bold.woff") format("woff"), url("/font/Stem-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Light';
  src: url("Stem-SemiLight.eot");
  src: local("Stem Semi Light"), local("Stem-SemiLight"), url("/font/Stem-SemiLight.oet") format("embedded-opentype"), url("/font/Stem-SemiLight.woff2") format("woff2"), url("/font/Stem-SemiLight.woff") format("woff"), url("/font/Stem-SemiLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Extra Light';
  src: url("Stem-ExtraLight.eot");
  src: local("Stem Extra Light"), local("Stem-ExtraLight"), url("/font/Stem-ExtraLight.eot") format("embedded-opentype"), url("/font/Stem-ExtraLight.woff2") format("woff2"), url("/font/Stem-ExtraLight.woff") format("woff"), url("/font/Stem-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Thin';
  src: url("Stem-Thin.eot");
  src: local("Stem Thin"), local("Stem-Thin"), url("/font/Stem-Thin.eot") format("embedded-opentype"), url("/font/Stem-Thin.woff2") format("woff2"), url("/font/Stem-Thin.woff") format("woff"), url("/font/Stem-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Stem Regular';
  src: url("Stem-Regular.eot");
  src: local("Stem Regular"), local("Stem-Regular"), url("/font/Stem-Regular.eot") format("embedded-opentype"), url("/font/Stem-Regular.woff2") format("woff2"), url("/font/Stem-Regular.woff") format("woff"), url("/font/Stem-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

h4 {
  font-size: 18px;
  font-family: 'Stem Regular';
}

/* font sizes */
.p-sm {
  font-size: 14px;
}

.p-md {
  font-size: 18px;
}

.p-l {
  font-size: 20px;
  color: #1D1700;
}

.p-lx {
  font-size: 24px;
}

.p-xxl {
  font-size: 36px;
}

.p-bold {
  font-family: 'Stem Bold';
}

.p-light {
  font-weight: 100;
}

.p-uppercase {
  text-transform: uppercase;
}

.nav__link--bold {
  font-family: 'Stem Bold';
  text-transform: uppercase;
  font-size: 20px;
}

.h3-light {
  font-family: 'Stem Light';
}

.sidebar {
  width: 576px;
  height: 100%;
  padding-top: 50px;
  padding-left: 80px;
}

.logo img {
  height: 34px;
  margin-bottom: 57px;
}

/*  sidenav */
ul.nav li {
  padding-bottom: 24px;
}

ul.nav li::before {
  content: url(/img/vector-line-1.svg);
  display: inline-block;
  margin-right: 8px;
}

ul.nav li a {
  color: #1D1700;
}

li.nav__secondary p {
  padding-bottom: 14px;
  display: inline-block;
}

li.nav__secondary ul {
  margin-left: 70px;
}

li.nav__secondary ul li {
  padding-bottom: 5px;
  position: relative;
}

li.nav__secondary ul li::before {
  content: url(/img/vector-line-hr.svg);
  position: absolute;
  display: inline-block;
  left: -47px;
  top: -4px;
}

li.nav__secondary ul li:last-child::before {
  content: none;
}

ul li a.detailed-search {
  color: #0278E5;
}
/*# sourceMappingURL=main.css.map */